<% if notice %>
  <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="container">
  <h1 class='text-center mt-5'>Películas</h1>
  <%= link_to "Nueva Película", new_movie_path, class: 'btn btn-primary my-4' %>
  <div id="movies">
    <div class="row">
      <% @movies.each do |movie| %>
        <%= render movie %>
      <% end %>
    </div>
  </div>
</div>
