<p style="color: green"><%= notice %></p>

<div class="container">
  <h1 class='text-center mt-5'>Clientes</h1>

  <%= link_to "Nuevo cliente", new_client_path, class: 'btn btn-primary my-4' %>

  <div id="clients">
    <table class="table table-striped table-hover">
      <thead  class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col">Película</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @clients.each do |client| %>
          <%= render client %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
